@page
@model KinopoiskWeb.Pages.PaymentModel
@{
}
<h2>Payment</h2>

<form method="post">
    <div>
        <label for="Amount">Amount:</label>
        <input type="text" asp-for="Amount" />
    </div>
    <div>
        <label for="CardNumber">Card Number:</label>
        <input type="text" asp-for="CardNumber" />
    </div>
    <div>
        <label for="ExpirationDate">Expiration Date (MMYY):</label>
        <input type="text" asp-for="ExpirationDate" />
    </div>
    <div>
        <label for="CardCode">Card Code:</label>
        <input type="text" asp-for="CardCode" />
    </div>
    <button type="submit">Submit Payment</button>
</form>

<div>
    @if (ViewData["Message"] != null)
    {
        <p>@ViewData["Message"]</p>
    }
</div>