@page
@model KinopoiskWeb.Pages.Movies.UpdateModel
@{
}
<h1>Edit Movie</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Movie.Title"></label>
        <input asp-for="Movie.Title" class="form-control" />
        <span asp-validation-for="Movie.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Movie.Description"></label>
        <textarea asp-for="Movie.Description" class="form-control"></textarea>
        <span asp-validation-for="Movie.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Movie.ReleasedDate"></label>
        <input asp-for="Movie.ReleasedDate" class="form-control" />
        <span asp-validation-for="Movie.ReleasedDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Movie.CountryId"></label>
        <input asp-for="Movie.CountryId" class="form-control" />
        <span asp-validation-for="Movie.CountryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Movie.Duration"></label>
        <input asp-for="Movie.Duration" class="form-control" />
        <span asp-validation-for="Movie.Duration" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Movie.IMDBRating"></label>
        <input asp-for="Movie.IMDBRating" class="form-control" />
        <span asp-validation-for="Movie.IMDBRating" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Movie.Rating"></label>
        <input asp-for="Movie.Rating" class="form-control" />
        <span asp-validation-for="Movie.Rating" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
